body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: beige;
  padding: 15px;
  border: 3px solid black;
  margin: 10px auto;
  text-align: center;
  border-radius: 3px;
}
a:link, a:visited {
    background-color: #b5179e;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}
a:hover, a:active{
    background-color: #f72585;
}

